@import './color';
@import './vendor';

body{
  background-color: $mainBGcolor;
  color: white;
  margin-top: 60px;
}

.panel-body.panel-primary{
  color: $mainTextColor;
  font-size: 1.3em;
}

a{
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  &:hover{
    color: white;
    font-size: 1.4em;
    text-decoration: none;
  }
}
